/* Custom Properties*/
:root {
  /*Dark Mode*/
  --primary-backgound-color: #121212;
  --secondary-background-color: #181818;
  --white-background-color: #ffffff;
  --primary-text-color: #f75990;
  --secondary-text-color: #404040;
  --tertiary-text-color: #757575;
  --second-white: #f0f0f0;
  --nav-width: 200px;
  --hover-button: #e93171;
  --current-page: #ef87ab;

  /*Light Mode (later implemention)*/

  /*Font-size and font-weights*/
  --xxl-size: 50px;
  --xl-size: 30px;
  --l-size: 24px;
  --m-size: 16px;
  --s-size: 14px;
  --xs-size: 12px;

  --extra-bold: 900;
  --bold: 600;

  /*Extra features*/
  --box-shadow: 0 4px 8px rgba(210, 195, 195, 0.3);

  /* Desktop Dimensions*/
  --header-height: 80px; /*Stays consistent*/
  --header-width: 1440px; /*Will change depending on page size*/

  --nav-width: 180px;
  --main-content-margin-left: 20px;
  --main-content-width: 1180px;
  --bottom-box-height: 80px;
  --top-box-height: 80px;
  --input-box-height: 50px;
  --reservation-box-height: 120px;
  --title-box-height: 140px;
  --top-box-margin-bottom: 10px;
  --pickup-return-box-width: 400px;
  --pickup-return-box-height: 40px;
  --check-availability-button-width: 360px;
  --check-availability-button-height: 50px;
  --extra-content-margin-bottom: 10px;
  --content-box-width: 960px;
  --content-box-height: 120px;
  --footer-height: 100px;

  /*Browse Vehicles Page*/
  .vehicle-grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
    max-height: calc(100vh - var(--footer-height));
    overflow-y: auto;
  }

  .vehicle-card {
    border: 1px solid #ccc;
    padding: 10px;
  }
  .reserve-btn {
    margin-top: 10px;
  }
}
